@import url(./perkBlock/perkBlock.css);

.perks {
  align-items: center;
}

.perks__container {
  margin: 0 0 20px;
  display: flex;
  position: relative;
}

.perks__subtitle {
  max-width: 80%;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.perks__arrow {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 10px solid #ff3700;
  border-right: 10px solid #ff3700;
  background: transparent;
  position: absolute;
  top: calc(50% - 20px);
  cursor: pointer;
}

.perks__arrow_position_left {
  transform: rotate(225deg);
  left: -40px;
}

.perks__arrow_position_right {
  transform: rotate(45deg);
  right: -40px;
}

@media screen and (max-width: 425px) {
  .perks__subtitle {
    max-width: 100%;
  }
}