.nav {
  width: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.nav__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav__item {
  margin: 0 30px 0 0;
  display: flex;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
}

.nav__item:last-of-type {
  margin: 0;
}

.nav__link {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  text-decoration: none;
  color: #fff; 
}

.nav__hexagon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  opacity: 0;
  transition: ease-in-out 1s;
  z-index: -1;
}

.nav__item:hover .nav__hexagon {
  opacity: .8;
}

.nav__button {
  width: 50px;
  height: 6px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  display: none;
  transition: .3s .3s;
}

.nav__button:active {
  outline: none;
}

.nav__button::before {
  content: '';
  width: 50px;
  height: 6px;
  position: absolute;
  top: -12px;
  left: 0;
  background-color: #fff;
  border-radius: 20px;
  transition: top .3s .3s, transform .3s;
}
.nav__button::after {
  content: '';
  width: 50px;
  height: 6px;
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #fff;
  border-radius: 20px;
  transition: top .3s .3s, transform .3s;
}

.nav__button_active {
  background: transparent;
}

.nav__button_active::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top .3s, transform .3s .3s;
}
.nav__button_active::after {
  top: 0;
  transform: rotate(45deg);
  transition: top .3s, transform .3s .3s;
}

@media screen and (max-width: 500px) {
  .nav__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #2f2c2f;
    transition: .65s ease-in-out;
    opacity: 1;
  }

  .nav__list_hidden {
    top: -100vh;
    opacity: 0;
  }

  .nav__item {
    margin: 0 0 20px;
  }

  .nav__item:last-of-type {
    margin: 0 0 20px;
  }
  
  .nav__link {
    font-size: 18px;
    line-height: 1;
  }

  .nav__hexagon {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
  
  .nav__button {
    display: block;
  }
}